{
	"zones": {
		"minute": {
			"when": "* * * * *",
			"count": 15,
			"exclude": [ "zones/swap", "zones/dump" ]
		},
		"hourly": {
			"when": "0 * * * *",
			"count": 24,
			"exclude": [ "zones/swap", "zones/dump" ]
		},
		"daily": {
			"when": "00 05 * * *",
			"count": 10,
			"exclude": [ "zones/swap", "zones/dump" ]
		},
		"weekly": {
			"when": "00 05 * * 1",
			"count": 4,
			"exclude": [ "zones/swap", "zones/dump" ]
		},
		"monthly": {
			"when": "00 05 1 * *",
			"count": 12,
			"exclude": [ "zones/swap", "zones/dump" ]
		}
	}
}
